<ion-header padding>
    <ion-title>
      <img src="./assets/img/wspolnota.png" />
    </ion-title>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <form [formGroup]="requestForm">
      <ion-item>
        <ion-label floating>Treść zgłoszenia(wymagane)</ion-label>
        <ion-textarea formControlName="message" [(ngModel)]="this.request.message" [class.invalid]="!requestForm.controls.message.valid && submitAttempt" rows="4"></ion-textarea>
      </ion-item>
      <ion-item class="invalid" *ngIf="!requestForm.controls.message.valid && submitAttempt">
        <p>Musisz wypełnić pole treści zgłoszenia!</p>
      </ion-item>
      <ion-item>
        <ion-label floating>Imię</ion-label>
        <ion-input formControlName="name" [(ngModel)]="this.request.name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" [(ngModel)]="this.request.email" type="email"></ion-input>
      </ion-item>
    </form>
    <ion-item center text-center>
      <ion-card *ngFor="let image of images; let i=index" >
        <img (click)="modifyPhoto(i)" [src]="image.source"/>
      </ion-card>
      <button *ngIf="images.length <= 3" ion-button full (click)="openMenu()" class="imgPicker">
        <ion-icon  name="add-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <div class="bottom_bar">
    <button class="fab_bottom_center_btn" (click)="send()" ion-button full color="secondary">Wyślij</button>
  </div>
</ion-footer>
