.action-sheets-basic-page {
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #ED4248;
  }
}

ion-card {
  height: auto;
}

ion-header {
  background: #fff;
}

ion-label{
  margin-left: 15px !important;
}

.imgPicker {
  font-size: 32px !important;
  padding: 21px !important;
}
.buttonText {
  padding: 8px;
  font-size: 16px;
}
