<ion-header padding>
    <ion-title>
      <img src="./assets/img/wspolnota.png" />
    </ion-title>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Treść zgłoszenia(wymagane)</ion-label>
    <ion-textarea [(ngModel)]="this.request.message" rows="4"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label floating>Imię</ion-label>
    <ion-input [(ngModel)]="this.request.name" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input [(ngModel)]="this.request.email" type="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col witdth-33 center text-center *ngFor="let image of images; let i=index">
          <ion-card>
            <button *ngIf="!image" ion-button icon-only (click)="openMenu(i)" class="imgPicker">
              <ion-icon  name="add-circle"></ion-icon>
            </button>
            <img (click)="modifyPhoto(i)" [src]="image.source" *ngIf="image" />
            <div *ngIf="!image">Dodaj zdjęcie</div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>

<ion-footer>
  <div class="bottom_bar">
    <button class="fab_bottom_center_btn" ion-button full color="secondary">Wyślij</button>
  </div>
</ion-footer>
