.action-sheets-basic-page {
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #ED4248;
  }
}

.bottom_bar
{
  position: fixed;
  height: 6vh;
  width: 100%;
  background: #ED4248;
  border-top: 1px solid #ccc;
}

ion-card {
  height: auto;
}

ion-header {
  background: #fff;
}

ion-label{
  margin-left: 15px !important;
}

.imgPicker {
  font-size: 32px !important;
  padding: 21px !important;
}

