page-home {

}

.action-sheets-basic-page {
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #ED4248;
  }
}

.bottom_bar
{
  position: fixed;
  height: 6vh;
  bottom: 5%;
  width: 100%;
  background: #ED4248;
  border-top: 1px solid #ccc;
}

ion-card {
  height: auto;
}

.fab_bottom_center_btn {
  background: #ED4248;
  color: black;
}
