<form [formGroup]="sendForm">
  <ion-item>
    <ion-label>Temat:</ion-label>
    <ion-select [(ngModel)]="this.formProvider.get().select" formControlName="select">
      <ion-option selected=”true”>Pupil</ion-option>
      <ion-option>Noworodek</ion-option>
      <ion-option>Zażalenie</ion-option>
      <ion-option>Temat na artykuł</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="form-group">
    <ion-label stacked>Treść zgłoszenia(wymagane)</ion-label>
    <ion-textarea [(ngModel)]="this.formProvider.get().message" name="message" formControlName="message" [class.invalid]="!sendForm.controls.message.valid && submitAttempt" rows="4"></ion-textarea>
  </ion-item>
  <ion-item *ngIf="!sendForm.controls.message.valid  && submitAttempt"
       class="alert">
    Musisz wypełnić pole treści zgłoszenia!
  </ion-item>
  <ion-item class="form-group">
    <ion-label stacked>Imię</ion-label>
    <ion-input [(ngModel)]="this.formProvider.get().name" name="name" formControlName="name" type="text"></ion-input>
  </ion-item>
  <ion-item class="form-group">
    <ion-label stacked>Email</ion-label>
    <ion-input [(ngModel)]="this.formProvider.get().email" name="email" formControlName="email" type="email"></ion-input>
  </ion-item>
  <ion-footer class="bottom_bar">
    <ion-fab center bottom>
      <button ion-fab color="danger" (click)="send(this.formProvider.get())">Wyślij</button>
    </ion-fab>
  </ion-footer>
</form>
